@import '../../styles/variable';

.login {
  @include flex(space-between, flex-start, null);
  max-width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding: 50px 0;

  .title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .loginSection {
    @include flex(flex-start, flex-start, column);
    width: 50%;
    padding: 0 60px;

    .findPw {
      text-decoration: underline;
    }

    .loginBox {
      @include flex(space-between, flex-start, column);
      width: 100%;
      margin-top: 20px;

      .inputBox {
        position: relative;
        margin-bottom: 40px;

        &.emailInputBox {
          .input {
            border-bottom: 2px solid green;
          }
          .alert {
            color: green;
          }
        }

        &.pwInputBox {
          .input {
            border-bottom: 2px solid green;
          }
          .alert {
            color: green;
          }
        }
      }
    }
  }

  .signUpBox {
    width: 50%;
    padding: 0 10px;

    .description {
      margin-bottom: 15px;
      line-height: 1.2;
    }

    .signUpListWrap {
      margin: 0 0 15px 10px;

      .checkList {
        display: flex;
        align-items: center;
        line-height: 2;

        .checkIcon {
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }
  }
}
