.mainSlide {
  margin-bottom: 100px;
  padding-bottom: 30px;
  .slideContainer {
    max-width: 1200px;
  }
  .slideWrap {
    display: flex;
    justify-content: space-between;
    width: 400%;
    overflow: visible;
    list-style: none;
    .slideItem {
      width: 250px;
      height: 300px;
      background: gray;
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .paginationWrap {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 50%;
    align-items: flex-end;
    height: 30px;
    transform: translateX(-50%);

    .pagination {
      width: 30px;
      height: 20px;
      margin-right: 5px;
      transition: all 0.5s;
      border-bottom: 1px solid black;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        position: relative;
        border-width: 6px;
      }
      &:hover {
        border-width: 6px;
      }
    }
  }

  .slideBtn {
    display: flex;
    position: absolute;
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    transition: all 0.6s;
    border: 1px solid #000;
    background: #fff;
    font-size: 20px;
    cursor: pointer;
    &.prevBtn {
      left: -50px;
    }
    &.nextBtn {
      right: -50px;
    }
  }
}
