.mainKv {
  .btnBox {
    display: flex;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 20px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border: 2px solid #fff;
      border-radius: 50%;
      background: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
