@import '../../styles/variable';

.cartItem {
  @include flex(null, null, null);
  position: relative;
  width: 720px;
  height: 240px;
  margin-top: 60px;
  border: 1px solid #767677;

  .cartItemImg {
    width: 240px;
    height: 100%;
  }

  .cartItemContent {
    @include flex(space-between, null, column);
    width: 480px;
    height: 100%;
    padding: 30px;

    .cartItemXbox {
      @include flex(space-between, center, null);
      margin-bottom: 10px;
    }

    .cartItemHeartBox {
      @include flex(space-between, center, null);
      margin-bottom: 10px;
    }
  }

  .cartItemSelect {
    @include flex(space-around, center, null);
    width: 100px;
    height: 56px;
    border: 1px solid #000;
    background-color: #fff;
  }

  .selectList {
    position: absolute;
    z-index: 1;
    top: 206px;
    width: 100px;
    height: 200px;
    overflow: scroll;
    border: 1px solid #000;
    background-color: #fff;

    .listItem {
      height: 56px;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}
