.cart {
  width: 1200px;
  margin: auto;
  .cartText {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
  }
  .cartHeaderPrice {
    font-weight: 500;
  }
  .cartHeaderText {
    margin-top: 15px;
  }
}
