.filterAndSort {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #fff;
  vertical-align: middle;

  .filterAndSortHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filterAndSortBtnBox {
      display: flex;
      align-items: center;

      .filterAndSortReset {
        border: none;
        background-color: #fff;
        color: #767677;
        font-size: 16px;
        text-decoration: underline;
      }

      .filterAndSortClose {
        width: 26px;
        height: 26px;
        margin-left: 15px;
      }
    }
  }

  .filterAndSortHeader,
  .filterAndSortList {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 15px;
    border-bottom: 1px solid #eceff1;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
}

.selected {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 5px #000 solid;
}

.bordernone {
  border: none;
}
