.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .footerTop {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0 30px;
    .menuWrap {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 20px;

      .listWrap {
        padding: 20px 10px;

        .title {
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: 700;
        }

        .linkWrap {
          li {
            margin-bottom: 15px;
            font-size: 14px;

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .footerInfo {
      font-size: 15px;
      line-height: 1.8;
    }
  }

  .footerBottom {
    padding: 25px 0;
    background-color: #363738;
    color: #c8cbcc;

    .footerBottomMenu {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto 80px;

      li {
        padding: 6px 20px;
        border-right: 1px solid #c8cbcc;
        font-size: 12px;
        &:last-child {
          border-right: none;
        }
      }
    }

    .copyRight {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
