.navComponent {
  position: sticky;
  top: 0;
  background-color: white;
  height: 110px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: 3;

  .down {
    top: -200px;
  }
}

.nav {
  border-bottom: 1px solid #ebeff1;
}

.upperNavBox {
  background-color: black;
  height: 30px;
  display: flex;
  justify-content: space-around;

  button {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
  }
}

.middleNavBox {
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .assistSection {
    padding-right: 40px;

    .link {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;
      color: #060606;
      margin: 0 8px;
    }
  }
}

.lowerNavBox {
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: 'Noto Sans KR', sans-serif;

  .leftMenuBar {
    font-size: 25px;
    border: none;
    outline: none;
    background-color: white;
    display: none;
  }

  .logo {
    font-size: 28px;
    font-weight: bolder;
  }

  .mainMenuListing {
    display: flex;
    align-items: center;
    font-size: 14px;

    .menuMen,
    .menuWomen {
      padding: 0 15px;
      font-weight: bolder;
    }
    .menuSports,
    .menuBrands {
      padding: 0 15px;
    }
  }
  .menuMen:hover,
  .menuWomen:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 15px;
  }

  .sideMenu {
    display: flex;

    .searchWrapper {
      color: gray;

      .searchBar {
        border: none;
        outline: none;
        background-color: #eceff1;
        height: 35px;
      }
      .searchSubmit {
        border: none;
        outline: none;
        background-color: #eceff1;
        height: 35px;
      }
    }

    .iconWrapper {
      font-size: 25px;

      .iconUser,
      .iconHeart,
      .iconBag {
        margin: 0 10px;
      }
    }
  }
}

.numberofItemsinCart {
  position: absolute;
  right: 40px;
  top: 58px;
  width: 22px;
  height: 22px;
  line-height: 19px;
  background-color: #2c80b6;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
}

.hoverWholeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  background-color: white;
}
.hoverContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 120px;
  border: 1px solid #ebeff1;
  width: 100%;
  height: 150px;

  .mock {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
    width: 120px;

    .mainCategory {
      font-weight: bolder;
      padding-bottom: 10px;
    }
  }
}

.underLayOut {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 150px;
  border-bottom: 1px solid #ebeff1;
  font-weight: bolder;
  font-size: 13px;

  .mock2 {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-size: 13px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 768px) {
  .middleNotice,
  .rightNotice,
  .mainMenu,
  .searchWrapper,
  .middleNavBox {
    display: none;
  }

  .leftMenuBar {
    display: block;
  }
}
